/* add css for index.html */

#inputs {
    display: flex;
    justify-content: center;
    width: 100%;
}

#display {
    display: flex;
    justify-content: center;
    width: 100%;
}

#city-image-display {
    height: 300px;
    width: 300px;
}

#city-architecture-display {
    height: 300px;
    width: 300px;
}

#added-cities {
    display: grid;
    max-width: 100%;
    width: 100%;
    height: 50%;
    border: solid 5px black;
}


.Tundra-class {
    background:url('/assets/Tundra.gif')
}

.Desert-class {
    background:url('/assets/Desert.gif')
}

.Snowy-class {
    background:url('/assets/Snowy.gif')
}

.Tropical-class {
    background:url('/assets/Tropical.gif')
}